html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*START*/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: lightgrey;
}
#screen{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    opacity: 1;
    z-index: 100;
    top: 0;
    transition: 0.3s;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 16px;
    border: 10px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: steelblue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
ul{
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    background-color: steelblue;
    border-radius: 0 0 15px 15px;
}
#menu{
    display: none;
}
#menu2{
    display: none;
}
#phone-menu{
    display: none;
}
#black{
    display: none;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: lightgrey;
    margin: 5px;
    color: steelblue;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 15px;
}
li:hover{
    background-color: #fafafa;
    color: steelblue;
    box-shadow: 0 0 15px lightgrey;
}
nav img{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 5px;
    margin-top: 8px;
    transition: 0.3s;
    border-radius: 15px;
    background-color: lightgrey;
}
nav img:hover{
    background-color: #fafafa;
    box-shadow: 0 0 15px lightgrey;
}
nav{
    width: 90%;
    height: 70px;
    background-color: steelblue;
    display: flex;
    padding-left: 50px;
    align-items: center;
    position: fixed;
    z-index: 5;
    border-radius: 0 0 15px 15px;
    left: 5%;
    box-shadow: 0 0 15px lightgrey;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}
header{
    height: 600px;
    width: 100%;
    background-image: url(photos/header-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
    margin: 20px;
    margin-top: 200px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(244, 260, 294);
    cursor: default;
/*
    animation-name: pradzia;
    animation-duration: 0.5s;
*/
}
header h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: rgb(194, 269, 315);
    margin: 20px;
    cursor: default;
/*
    animation-name: pradzia;
    animation-duration: 0.5s;
*/
}
header h3{
    font-family: 'Rubik', sans-serif;
    color: rgb(213, 252, 291);
    margin: 20px;
    font-size: 30px;
    cursor: default;
/*
    animation-name: pradzia;
    animation-duration: 0.5s;
*/
}
#cookies{
    width: 90%;
    height: 50px;
    background-color: lightgrey;
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px steelblue;
    border-radius: 15px 15px 0 0;
    transition: 0.3s;
}
#cookies p{
    color: steelblue;
}
#cookies button{
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: steelblue;
    color: white;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
}
#cookies button:hover{
    box-shadow: 0 0 15px steelblue;
}
main p{
    color:rgb(225,225,225);
    font-family: 'Ubuntu', sans-serif; 
    cursor: default;
}
section{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
/*apie*/
.apie{
    background-color: steelblue;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}
.apie-mane{
    background-color: steelblue;
    text-align: center;
    border-radius: 15px 15px 0 0;
}
.apie-mane:hover h3{
    font-size: 70px;
}
.apie-mane h3{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin-bottom: 70px;
    padding-top: 70px;
    transition: 0.3s;
    cursor: default;
}
.apie h3{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin-bottom: 70px;
    padding-top: 70px;
    cursor: default;
}
.apie p{
    width: 60%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 100px; 
    cursor: default;
}
/*gallery*/
.gallery{
    height: auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: steelblue;
    justify-content: center;
    align-items: center;
}
.card{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    position: relative;
}
.face{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 1.5s ease-in-out; 
    transform: perspective(500px) rotateY(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.front{
    background-color: blueviolet;
}
.card:hover .front{
    transform: perspective(500px) rotateY(180deg);
}
.back{
    background-color: crimson;
    transform: perspective(500px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(500px) rotateY(360deg);
}
.face h2{
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    /* transform: perspective(500px) translateZ(50px); */
    width: 150px;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: default;
}
.card .foto1{
    background-image: url(photos/gallery-photos/1darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card .foto2{
    background-image: url(photos/gallery-photos/2darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .foto3{
    background-image: url(photos/gallery-photos/3darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .foto4{
    background-image: url(photos/gallery-photos/4darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .foto5{
    background-image: url(photos/gallery-photos/5darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .foto6{
    background-image: url(photos/gallery-photos/6darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .foto7{
    background-image: url(photos/gallery-photos/7darbas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*facebook*/
.facebook{
    text-align: center;
    height: auto;
    border-radius: 0 0 15px 15px;
    background-color: steelblue;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
}
h4{
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    cursor: default;
}
h5{
    cursor: default;
}
.facebook h3{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
    transition: 0.3s;
    cursor: default;
}
.facebook:hover h3{
    font-size: 70px;
}
iframe{
    margin: 20px;
    box-shadow: 0 0 5px slategrey;
    padding: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
}
@media only screen and (max-width: 900px){
    nav{
        height: 50px;
    }
    ul{
        height: 50px;
        width: 80%;
    }
    li{
        height: 40px;
        width: 40px;
        font-size: 11px;
        display: none;
        margin-top: 5px;
        margin-right: -1px;
    }
    nav img{
        width: 40px;
        height: 40px;
        margin-top: 6px;
        margin-left: 0;
    }
    nav{
        padding-left: 5px;
    }
    nav img:hover{
        box-shadow: none;
    }
    iframe{
        overflow: hidden;
        width: 250px;
    }
    .facebook:hover h3{
        font-size: 50px;
    }
    .apie-mane:hover h3{
        font-size: 50px;
    }
    #cookies{
        height: 80px;
        padding-top: 15px;
        flex-direction: column;
        padding-bottom: 0;
    }
    #cookies button{
        width: 90%;
    }
    #menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #menu:hover{
        background-color: rgb(100, 100, 100);
    }
    #menu div{
        width: 70%;
        height: 4px;
        border-radius: 15px;
        background-color: steelblue;
    }
    #menu2{
        display: none;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #menu2:hover{
        background-color: rgb(100, 100, 100);
    }
    #menu2 div{
        width: 70%;
        height: 4px;
        border-radius: 15px;
        background-color: steelblue;
    }
    #phone-menu{
        position: fixed;
        width: 90%;
        height: 100%;
        background-color: steelblue;
        bottom: -100%;
        right: 5%;
        display: block;
        z-index: 2;
        transition: 0.3s;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
    }
    #phone-menu button{
        width: 90%;
        height: 50px;
        background-color: rgb(100, 100, 100);
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        font-family: 'Rubik', sans-serif;
        font-size: 25px;
        margin: 10%;
        margin-left: 5%;
    }
    #black{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
        transition: 0.3s;
    }
}